<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome {{ username }}</h1>

    <form action="/search_results" method="POST">
        <input type="hidden" name="form_type" value="name">
        <input type="text" name="resturant_name" placeholder="Enter Resturant Name"  required> 
        <input type="submit" value="Search">
    </form>


    <form action="/search_results" method="POST">
        <input type="hidden" name="form_type" value="location">
        <label >Select Location:</label>
        <select name="resturant_location">
            {% for location in location_data %}
                <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Find Resturants">
    </form>
</body>
</html>